@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap");
*{
  font-family: 'Hahmlet';
}
.App {
  text-align: center;
}
.small-logo {
  position: relative;
  height: 7vh;
  margin-left: 1vh;
}
.header {
  background: #f0f7ce;
  font-size: 12px;
}
.inlineheader a{
  color:rgba(46, 70, 32, 0.7);
}
.inlineheader a:hover{
  color:rgba(46, 70, 32, 1);
}
.homepage {
  min-height: 100vh;
  position: relative;
}
.homepage:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(31, 59, 15, 0.5);
  top: 0;
  left: 0;
  display: block;
  content: "";
}
.headerhome {
  position: relative;
  background: #f0f7ce;
  height: 50vh;
  opacity: 0.8;
}
.homepage-title {
  position: relative;
  margin-bottom: 100vh;
  margin-top: -15vh;
}
.ptag {
  position: relative;
  background: #f0f7ce;
  opacity: 0.9;
  width: 50%;
  height: 10%;
  margin: 0 auto;
  top: -90vh;
}
.tagline {
  letter-spacing: 4px;
}
.about-page {
  min-height: 150vh;
  background: #94a386;
}

.about-bg {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: url("./assets/bgtry.jpeg");
  opacity: 0.7;
  width: 100%;
  height: 50vh;
}
.about {
  font-size: 18vh;
  color: #f0f7ce;
  letter-spacing: 5px;
}
.life-component {
  margin-top: 5vh;
  position: relative;
}
.life-description {
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  width: 60vh;
  height: 70vh;
  position: absolute;
  color: #fff;
  opacity: 0;
}
.life-words {
  letter-spacing: 4px;
}
.life {
  margin: 0 auto;
  width: auto;
  height: 70vh;
  padding: 5vh;
  opacity: 0.8;
  display: block;
  transition: 0.5s ease;
  border: 10px solid #f0f7ce;
  backface-visibility: hidden;
}
.life-component:hover .life {
  opacity: 0.3;
  border: 20px solid #f0f7ce;
}
.life-component:hover .life-description {
  opacity: 1;
}
.growth-component {
  margin-top: 5vh;
  position: relative;
}
.growth-description {
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  width: 60vh;
  height: 70vh;
  position: absolute;
  color: #fff;
  opacity: 0;
}
.growth-words {
  letter-spacing: 4px;
}
.growth {
  margin: 0 auto;
  width: auto;
  height: 70vh;
  padding: 5vh;
  opacity: 0.6;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border: 10px solid #f0f7ce;
}
.growth-component:hover .growth {
  opacity: 0.3;
  border: 20px solid #f0f7ce;
}
.growth-component:hover .growth-description {
  opacity: 1;
}
.movement-component {
  margin-top: 5vh;
  position: relative;
}
.movement-description {
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  width: 60vh;
  height: 70vh;
  position: absolute;
  color: #fff;
  opacity: 0;
}
.movement-words {
  letter-spacing: 4px;
}
.movement {
  margin: 0 auto;
  width: auto;
  height: 70vh;
  padding: 5vh;
  opacity: 0.6;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border: 10px solid #f0f7ce;
}
.movement-component:hover .movement {
  opacity: 0.3;
  border: 20px solid #f0f7ce;
}
.movement-component:hover .movement-description {
  opacity: 1;
}
.about-description {
  word-wrap: break-word;
  color: #f0f7ce;
  opacity: 100%;
}
.about-div {
  background: #37440c;
  opacity: 0.5;
  margin-top: 5vh;
  margin-left: 5vh;
  text-align: left;
  width: 100vh;
  padding: 1vh;
}
.journal-index {
  min-height: 150vh;
  background: url("../src/assets/journal.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.entry-form {
  font-family: "Hahmlet", serif;
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 100%;
  background: rgba(160, 190, 125, 0.7);
  padding: 10px;
}
.journal-title {
  color: #f0f7ce;
  letter-spacing: 50px;
  font-size: 60px;
  margin: 0 auto;
}
.date {
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  color: #5c5f4e;
}
.journal-date {
  font-size: 50px;
  color: #4c5033;
}
.entry {
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  color: #5c5f4e;
}
.journal-entry {
  color: #4c5033;
  display: absolute;
  word-wrap: break-word;
  padding-left: 120px;
  padding-right: 120px;
}
.btn-primary {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
.date-bg {
  background: #f0f7ce;
}
.delete-image {
  margin: 0 auto;
  width: 10vh;
  padding: 3px;
}
.delete-image:hover {
  cursor: pointer;
  width: 15vh;
  transition: 0.5s;
}
.add-btn {
  color: #f0f7ce;
  transition: all 0.5s;
  position: relative;
  margin: 0 auto;
}
.add-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}

.add-btn:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.add-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.add-btn:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
.input-entry-field {
  word-wrap: break-word;
  height: 30vh;
  width: 60%;
  text-align: left;
  word-break: break-all;
  overflow-wrap: break-word;
  background: rgba(160, 190, 125, 0.7);
  color: #5c5f4e;
  font-size: 15px;
  border: none;
  overflow: hidden;
}
.input-date {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.input-date-field {
  border: none;
  background: rgba(160, 190, 125, 0.7);
  color: #5c5f4e;
  text-shadow: rgba(31, 59, 15, 0.5);
  font-size: 20px;
  text-align: center;
}
.create-title {
  color: #f0f7ce;
}
.prompts-title {
  color: #f0f7ce;
}
.create-page {
  font-family: "Hahmlet", serif;
  top: 50%;
  bottom: 50%;
  background-image: url("assets/journalbg.png");
  background-position: center;
}
.prompt1 {
  margin-left: 20vh;
  text-align: left;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  box-shadow: 10px 5px 5px black;
}
.prompt2 {
  margin-right: 30vh;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  text-align: right;
  box-shadow: 10px 5px 5px black;
}
.prompt3 {
  margin-left: 20vh;
  text-align: left;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  box-shadow: 10px 5px 5px black;
}
.prompt4 {
  margin-right: 30vh;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  text-align: right;
  box-shadow: 10px 5px 5px black;
}
.prompt5 {
  margin-left: 20vh;
  text-align: left;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  box-shadow: 10px 5px 5px black;
}
.prompt6 {
  margin-right: 30vh;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  text-align: right;
  box-shadow: 10px 5px 5px black;
}
.prompt7 {
  margin-left: 20vh;
  text-align: left;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  box-shadow: 10px 5px 5px black;
}
.prompt8 {
  margin-right: 30vh;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  text-align: right;
  box-shadow: 10px 5px 5px black;
}
.create-entry-div {
  padding: 5px;
  width: 35%;
  margin: 0 auto;
  color: #5c5f4e;
}
.whole-form {
  width: 75%;
  height: 80vh + 30px;
  max-height: 80vh + 20px;
  margin: 0 auto;
  padding-top: 40px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  box-shadow: 10px 5px 5px black;
}
.jump {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 22px;
  padding: 16px;
  width: 30vh;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
.jump {
  text-decoration: none;
  background: rgba(255, 252, 229, 0.2);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.jump:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}
.jump:visited {
  color: #f0f7ce;
}
.jump:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.jump:hover:after {
  opacity: 1;
  right: 10px;
}
.submit-button {
  border-radius: 100%;
  padding: 1.5%;
  background: rgba(160, 190, 125, 0.7);
  border: none;
  margin: 0;
  text-decoration: none;
  color: #5c5f4e;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.submit-button:hover {
  background: rgba(160, 190, 125, 1);
  cursor: pointer;
  transition: 0.2s;
}
.ad-populations{
  text-align: left;
  margin-top: 1%;
  text-decoration: none;
}
.pop-tab{
  min-height: 100vh;
  background-size: 50vh;
  /* background-color: #5C6338; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50vh auto;
  margin-bottom: 100%;
  bottom: 0%;
  top: 0%;
}
.addiction-page{
  color:rgba(46, 70, 32, 0.5);
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vh;
  background-color: #B2C181;
  min-height: 150vh;
}
.mentalhealth-page{
  color:rgba(46, 70, 32, 0.5);
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vh;
  background-color: #B2C181;
  min-height: 150vh;
}
.addiction-page a:visited{
  color:rgba(46, 70, 32, 0.5);
}
.tab-color{
  color:  rgba(31, 59, 15, 0.5);
}
.tab-color a{
  color: rgba(31, 59, 15, 0.5);
}
.ad-lgbt{
  margin-top: 3%;
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.ad-lgbt:hover{
  background: #f0f7ce;
  letter-spacing: 50px;
  transition: 0.5s;
}
.lgbt-link{
  color:rgba(46, 70, 32, 0.5);
}
.lgbt-link:visited{
  color:rgba(46, 70, 32, 0.5);
}
.ad-senior{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.ad-senior:hover{
  background: #f0f7ce;
  letter-spacing: 50px;
  transition: 0.5s;
}
.senior-link{
  color:rgba(46, 70, 32, 0.5);
}
.senior-link:visited{
  color:rgba(46, 70, 32, 0.5);
}
.ad-teen{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.ad-teen:hover{
  background: #f0f7ce;
  letter-spacing: 50px;
  transition: 0.5s;
}
.teen-link{
  color:rgba(46, 70, 32, 0.5);
}
.teen-link:visited{
  color:rgba(46, 70, 32, 0.5);
}
.ad-veterans{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.ad-veterans:hover{
  background: #f0f7ce;
  transition: 0.5s;
  letter-spacing: 50px;
}
.veteran-link{
  color:rgba(46, 70, 32, 0.5);
}
.veteran-link:visited{
  color:rgba(46, 70, 32, 0.5);
}
.ad-women{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.ad-women:hover{
  background: #f0f7ce;
  letter-spacing: 50px;
  transition: 0.5s;
}
.women-link{
  color:rgba(46, 70, 32, 0.5);
}
.women-link:visited{
  color:rgba(46, 70, 32, 0.5);
}
.sup-1{
  margin-top: 3%;
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.sup-1:hover{
  background: #f0f7ce;
  transition: 0.5s;
  letter-spacing: 10px;
}
.support-link-1{
  color:rgba(46, 70, 32, 0.5);
}
.support-link-1:visited{
  color:rgba(46, 70, 32, 0.5);
}
.sup-2{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.sup-2:hover{
  background: #f0f7ce;
  transition: 0.5s;
  letter-spacing: 10px;
}
.support-link-2{
  color:rgba(46, 70, 32, 0.5);
}
.support-link-2:visited{
  color:rgba(46, 70, 32, 0.5);
}
.sup-3{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.sup-3:hover{
  background: #f0f7ce;
  transition: 0.5s;
  letter-spacing: 10px;
}
.support-link-3{
  color:rgba(46, 70, 32, 0.5);
}
.support-link-3:visited{
  color:rgba(46, 70, 32, 0.5);
}
.sup-4{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.sup-4:hover{
  background: #f0f7ce;
  transition: 0.5s;
  letter-spacing: 10px;
}
.support-link-4{
  color:rgba(46, 70, 32, 0.5);
}
.support-link-4:visited{
  color:rgba(46, 70, 32, 0.5);
}
.sup-5{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.sup-5:hover{
  background: #f0f7ce;
  transition: 0.5s;
  letter-spacing: 10px;
}
.support-link-5{
  color:rgba(46, 70, 32, 0.5);
}
.support-link-5:visited{
  color:rgba(46, 70, 32, 0.5);
}
.sup-6{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.sup-6:hover{
  background: #f0f7ce;
  transition: 0.5s;
  letter-spacing: 10px;
}
.support-link-6{
  color:rgba(46, 70, 32, 0.5);
}
.support-link-6:visited{
  color:rgba(46, 70, 32, 0.5);
}
.alink-1{
  color:rgba(46, 70, 32, 0.5);
}
.alink-1:visited{
  color:rgba(46, 70, 32, 0.5);
}
.alink-1:hover{
  transition: 0.5s;
  letter-spacing: 10px;
}
.alcohol-title{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.alink-2{
  color:rgba(46, 70, 32, 0.5);
}
.alink-2:visited{
  color:rgba(46, 70, 32, 0.5);
}
.alink-2:hover{
  transition: 0.5s;
  letter-spacing: 10px;
}
.cocaine-title{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.alink-3{
  color:rgba(46, 70, 32, 0.5);
}
.alink-3:visited{
  color:rgba(46, 70, 32, 0.5);
}
.alink-3:hover{
  transition: 0.5s;
  letter-spacing: 10px;
}
.marijuana-title{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.alink-4{
  color:rgba(46, 70, 32, 0.5);
}
.alink-4:visited{
  color:rgba(46, 70, 32, 0.5);
}
.alink-4:hover{
  transition: 0.5s;
  letter-spacing: 10px;
}
.methamphetamine-title{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.alink-5{
  color:rgba(46, 70, 32, 0.5);
}
.alink-5:visited{
  color:rgba(46, 70, 32, 0.5);
}
.alink-5:hover{
  transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 10px;
}
.alink-6{
  color:rgba(46, 70, 32, 0.5);
}
.alink-6:visited{
  color:rgba(46, 70, 32, 0.5);
}
.alink-6:hover{
  transition: 0.5s;
  letter-spacing: 10px;
}
.opiod-title{
  background: #f0f7cea6;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.apps{
  overflow: hidden;
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
}
.app-tab img{
  float: left;
  position: relative;
  width: 50vh;
}
.app-tab img:hover{
  float: left;
  position: relative;
}
.mindshift-name {
  opacity: 0;
  font-size: 3vh;
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  color: #fff;
  opacity: 0;
  letter-spacing: 4px;
}

.mindshift:hover .mindshift-link {
  opacity: 0.3;
}
.mindshift:hover .mindshift-name {
  opacity: 1;
}
.calm-name {
  opacity: 0;
  font-size: 3vh;
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  color: #fff;
  opacity: 0;
  letter-spacing: 4px;
}
.calm:hover .calm-link {
  opacity: 0.3;
}
.calm:hover .calm-name {
  opacity: 1;
}
.betterhelp-name {
  opacity: 0;
  font-size: 3vh;
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  color: #fff;
  opacity: 0;
  letter-spacing: 4px;
}
.betterhelp:hover .betterhelp-link {
  opacity: 0.3;
}
.betterhelp:hover .betterhelp-name {
  opacity: 1;
}
.headspace-name {
  opacity: 0;
  font-size: 3vh;
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  color: #fff;
  opacity: 0;
  letter-spacing: 4px;
}
.headspace:hover .headspace-link {
  opacity: 0.3;
}
.headspace:hover .headspace-name {
  opacity: 1;
}
.nomo-name {
  opacity: 0;
  font-size: 3vh;
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  color: #fff;
  opacity: 0;
  letter-spacing: 4px;
}
.nomo:hover .nomo-link {
  opacity: 0.3;
}
.nomo:hover .nomo-name {
  opacity: 1;
}
.talkspace-name {
  opacity: 0;
  font-size: 3vh;
  transition: 0.5s ease;
  top: 40%;
  left: 50%;
  text-align: center;
  color: #fff;
  opacity: 0;
  letter-spacing: 4px;
}
.talkspace:hover .talkspace-link {
  opacity: 0.3;
}
.talkspace:hover .talkspace-name {
  opacity: 1;
}
.books{
  overflow: hidden;
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
}
.book-tab img{
  float: left;
  position: relative;
  width: 30vh;
  margin-left: 10vh;
  margin-top: 5vh;
}
.book-tab img:hover{
  float: left;
  position: relative;
} 
.thebody:hover .thebody-link {
  border: 10px solid #f0f7ce;
  transition: 0.5s;
}
.change-brain:hover .change-brain-link {
  border: 10px solid #f0f7ce;
  transition: 0.5s;
}
.hope:hover .hope-link {
  border: 10px solid #f0f7ce;
  transition: 0.5s;
}
.russell:hover .russell-link {
  border: 10px solid #f0f7ce;
  transition: 0.5s;
}
.sites{
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  width: 50vw;
  height: 40vh;
  justify-content: center;
  overflow: scroll;
  margin-top: 5%;
  padding-top: 35vh;
  padding-bottom: 10vh;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 
	0 0 0 2px #000,
	0 0 0 3px #999,
	0 0 0 9px #fa0,
	0 0 0 10px #666,
	0 0 0 16px #fd0,
	0 0 0 18px #000;
}
.sites a{
  color: #4c5033;
  text-decoration: none;
}
.sites a:hover{
  color: #f0f7ce;
  letter-spacing: 5px;
  transition: 0.4s;
}
.subtitle{
  font-size: 15px;
  color:rgba(84, 102, 64, 0.459);
}
